.access-denied-container {
  width: 100%;
  margin: 0 auto;
  max-width: 420px;
  background: #fff;
  border-radius: var(--radius);
  box-shadow: 0 2px 12px 0 #e2e2ef11, 0 1.7px 7px 0 #f5cbb3;
  padding: 2.1rem 2.2rem 2rem 2.2rem;
  margin-top: 7vh;
  text-align: center;
}
.access-denied-container h1 {
  color: var(--accent);
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.access-denied-container p {
  margin-bottom: 1.5em;
  color: #555;
}
.back-btn {
  background: var(--primary);
  color: #fff;
  border: none;
  padding: 0.63em 2.23em;
  border-radius: 7px;
  font-size: 1.1em;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.17s;
}
.back-btn:hover {
  background: #fcac5f;
}
